body{

margin : 0 ;
text-align: center;
font-family: 'Merriweather', serif;
background-color:#fbf9fa;
}
h1{
  margin-top: 10;
  color: #eef2f5;
  font-size: 6.225rem;
  font-family: 'Sacramento', cursive;
}
h2{

  font-family: 'Montserrat', sans-serif;
  color: #f5564e;
}

h3{

  font-family: 'Montserrat', sans-serif ;
  color : #f5564e ;
}

div{

  background-color: #fbf9fa;

}

p{

 color : #40514e ;
 line-height: 2;

}
.secondary-text{
  position: relative;
  bottom:50px;
  color: #eef2f5;
  font-family:'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: normal;
}
.top-container{
  background-color: #fab95b;
position: relative;
padding-top: 70px;
padding-bottom: 70px ;


}
.pp{

padding-bottom: 50px ;

}

.cloud{
   position: absolute;
   bottom : auto;
   visibility: hidden;
}

.up{
position : relative;
left : 190px ;
visibility: hidden;

}
.profile{

margin: 200px auto ;

}

.mount{
  position : relative;
  top : 50px ;

}
.skills{

  background-color: #fab95b ;
  padding-bottom: 100px ;
  padding-top: 100px ;
}
.skill-row{
  width: 30% ;
  background-color: #fab95b ;
  margin: auto ;
  text-align: left;
  line-height: 2 ;
  padding-bottom: 110px ;

}
.hh{
font-size: 35px ;
margin-bottom: 100px;
}
.intro{
width: 30% ;
margin: auto;

}
.need{
  width :200px ;
  float : right;
  margin-left: 10px ;


}
.design{

  padding-bottom: 20px ;
  width :200px ;
  float: left;
  margin-right: 30px;
}
.contact-message{
 width : 30% ;
 margin: 40px auto 10px ;

}
.contact-me{
  padding-bottom: 100px;
 margin: 200px auto ;

}
.middle{
  width: 11%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin-top: 100px;
}
.btn{
  position: relative;
  display: block;
  color: #665c84;
  font-size: 15px;
  font-weight: normal;
  font-family: "montserrat";
  text-decoration: none;

  border: 2px solid  #ff7675;
  padding: 14px 40px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}
.btn::before{
  background: #fab95b;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
}
.btn3::before{
  width: 100%;
  height: 0%;
  transform: translate(-50%,-50%) rotate(45deg);
}
.btn3:hover::before{
  height: 380%;
}
.bottom-container{
 background-color: #665c84;
padding-top: 50px;
padding-bottom: 20px ;
}
.footer-link{
color:  #fab95b;
text-decoration: none;
margin: 10px 20px ;
font-family: 'Montserrat', sans-serif ;

}
.rights{
color:  #fab95b;
font-size: 0.75rem;
padding : 20px 0px ;
}
.footer-link:hover{
  color:#ff7675;
}
